@import '~element-ui/lib/theme-default/index.css';
@import 'https://fonts.googleapis.com/css?family=Space+Mono';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', sans-serif;
  -webkit-app-region: drag;
}
