@import 'common/icons';
@import 'common/colors';
@import 'light/index';
@import 'dark/index';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: 2px solid @accent;
  outline-offset: 2px;
}

html,
body,
.app {
  height: 100%;
  display: block;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
  grid-template-columns: 5em 1fr;
  background-color: @backgrounds;

  &.os-linux {
    border: 2px solid @accent;
  }
}

aside {
  grid-column: 1;
}

main {
  grid-column: 2;
  overflow: auto;
  max-height: 100%;
}
