@import 'common/icons';
@import 'common/colors';
@import 'light/index';
@import 'dark/index';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: @main;
}

ol,
ul {
  list-style: none;
}

a,
input,
button {
  outline: none;
}
/* outline: 2px solid rgba(255, 255, 255, 0);
  outline-offset: 2px;
  cursor: pointer;

  &:active,
  &:focus {
    outline: 2px solid @accent;
  }
} */

html,
body,
.app {
  height: 100%;
  display: block;
  overflow: hidden;
  cursor: default;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.draggable {
  -webkit-app-region: drag;
}

.clickable {
  -webkit-app-region: no-drag;
}

.app {
  display: grid;
  grid-template-columns: 5em 1fr;
  background-color: @backgrounds;

  &.os-linux {
    border: 2px solid @accent;
  }
}

aside {
  grid-column: 1;
}

main {
  grid-column: 2;
  overflow: auto;
  max-height: 100%;
}
