/**
 * Utils
 */

/* Scrollbar - currently hidden */
::-webkit-scrollbar {
  width: 2px;
  display: none;
}
::-webkit-scrollbar-track { background-color: #fafafa; }
::-webkit-scrollbar-thumb { background-color: #000; }

/* remove focus glow */
* { outline: none; }

/* force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
html.os-linux,
html.os-win32 {
	overflow-y: scroll !important;
}

body {
  -webkit-app-region: drag;
}

.logged-in main { }

/* Hide 'Open in app' popup */
._28zbs._nqfwp {
  display: none;
}

/* Hide 'Open in app' button */
._28zbs._nl1vc {
  display: none;
}

/* Hide footer */
footer._oofbn {
  display: none;
}

/**
 * Sidebar
 */

/* Make room for sidebar */
.logged-in #react-root main._1wptv {
  margin-left: 80px;
}

/* Add sidebar */
#react-root ._onabe._kjy2s {
  background-color: #fafafa;
  position: fixed;
  left: 0;
  width: 80px;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,.08);
	-webkit-app-region: drag; /* Make the navbar the windows's draggable region */
	will-change: left, top;
	display: block;
}

/* Reset topbar and move to vertical menu on the left */
#react-root ._hykpq>div,
#react-root ._hykpq,
#react-root ._bfc7q,
#react-root ._j4mb5 {
  height: 100%;
  width: 100%;
	-webkit-app-region: drag!important; /* Make the navbar the windows's draggable region */
}
#react-root ._bfc7q {
  position: absolute;
  border: none;
}

/* Icons list */
#react-root ._n7q2c {
	-webkit-app-region: drag;
  margin-top: 80px;
  flex-direction: column;
}

/* remove margin from win and linux */
html.os-linux #react-root ._n7q2c,
html.os-win32 #react-root ._n7q2c {
  margin-top: 50px;
}

/* Icon Item */
#react-root ._r1svv {
  width: 100%;
  height: 40px;
  margin: 20px 0;
}

/**
 * Back Button
 **/
.back-btn {
  position: fixed;
  width: 78px;
  left: 0px;
  top: 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.0784314);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0784314);
  padding: 15px 0;
}
html.os-linux .back-btn,
html.os-win32 .back-btn { top: 0; }

.back-btn a {
  width: 24px;
  height: 18px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.back-btn.inactive a { cursor: default; }
.back-btn svg { fill: #000; }
.back-btn.inactive svg { fill: rgba(0, 0, 0, 0.0784314);  }


/**
 * Login Screen
 */

.not-logged-in body {
  overflow: hidden;
}

/* Hide mobile banners */
#react-root ._okmo7,
#react-root ._m8ogu {
  display: none;
}

/* Sign in text */
#react-root ._9qbcz {
  display: none;
}

/* Hide sign in form elements */
#react-root ._r48rb,
#react-root ._rpioj,
#react-root ._djahe {
  display: none;
}

/* Hide sign-up button */
#react-root ._3bqd5 div:last-of-type,
#react-root ._3bqd5 ._nvyyp:last-of-type {
  display: none;
}

/* Center login */
#react-root ._p8ymb {
  max-width: 350px;
  justify-content: center;
  margin: 0!important;
  height: 100vh;
}

/* Hide forgot password link */
#react-root ._j4ox0 {
  display: none;
}

/* Login */
._du7bh {
  margin: 0 auto 10px;
}

/* Remove margin from login box */
#react-root ._60k3m {
  margin-top: 0;
}

/* Facebook BTN */
#react-root ._56wku {
  margin: 0;
}

/* Login Button */
#react-root ._dyp7q {
  margin: 0;
  visibility: hidden; /* Hide text node */
}

/* Login go back */
#react-root ._fcn8k {
  visibility: visible;
}
#react-root ._fcn8k.goback {
  margin: 0 auto;
  display: block;
  color: #dbdbdb;
  width: 100px;
}
#react-root ._fcn8k:not(.goback) {
  color: #fff;
  background: #3897f0;
  border-color: #3897f0;
  line-height: 29px;
  padding: 0 11px;
  font-size: 14px;
  display: block;
  border-radius: 3px;
  font-weight: 600;
  max-width: 246px;
  margin: 0 auto;
}

/* Remove border */
#react-root ._nvyyp {
  border: none;
  padding: 0;
  margin: -10px 0 0 0;
}

/* Hide facebook cookie notice */
#header-notices {
  display: none;
}

/**
 * Edit profile page
 */

/* container */
#react-root ._40h7m {
  border: none;
  margin: 0;
}

/**
* icon hover
*/
._o5rm6 {
  opacity: 1;
}

._o5rm6:hover {
  opacity: 0.4;
}

.electron_pic_cover {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
