html.dark-mode::-webkit-scrollbar-track { background-color: #192633; }
html.dark-mode::-webkit-scrollbar-thumb { background-color: #fff; }

/*
    Sidebar
*/

html.dark-mode #react-root ._onabe._kjy2s {
  background-color: #192633;
  border-right: 1px solid rgba(255,255,255,.08);
}

html.dark-mode #react-root ._4kdxu {
    background-color: #192633;
}

html.dark-mode #react-root ._n7q2c {
  background-color: #192633;
}

html.dark-mode #react-root ._r1svv {
  -webkit-filter: brightness(0) invert(1);
}

html.dark-mode .back-btn {
  background-color: #192633;
  border-top: 1px solid rgba(255, 255, 255, 0.0784314);
  border-bottom: 1px solid rgba(255, 255, 255, 0.0784314);
}

html.dark-mode .back-btn svg { fill: #fff; }
html.dark-mode .back-btn.inactive svg { fill: rgba(255, 255, 255, 0.2);  }

/*
    Login
*/

html.dark-mode #react-root ._6ltyr._1wptv {
    background-color: #192633;
}

html.dark-mode #react-root ._p8ymb {
    background-color: #192633;
}

html.dark-mode #react-root ._du7bh {
  -webkit-filter: brightness(0) invert(1);
}

html.dark-mode #react-root ._nvyyp {
    background-color: #192633;
}

html.dark-mode #react-root ._kp5f7._qy55y {
    color: white;
}

/*
    Content
*/


/* Suggestions */

html.dark-mode #react-root ._cag6k._4j13h {
    background-color: #202C3A;
}

html.dark-mode #react-root ._4zhc5 {
    color: #bbb;
}

html.dark-mode #react-root ._2uju6 {
    color: #bbb;
}

html.dark-mode #react-root ._bgfey {
    color: #ddd;
}

html.dark-mode #react-root ._cag6k {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Main */

html.dark-mode #react-root ._kul9p._rnlnu {
    color: #bbb;
}

html.dark-mode #react-root ._tf9x3 {
    color: #ddd;
}

html.dark-mode #react-root ._nk46a span {
    color: #bbb;
}

html.dark-mode #react-root ._nk46a span a {
    color: #0096CA;
}

html.dark-mode #react-root ._jveic {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

/* Profile */

html.dark-mode #react-root ._i572c {
    color: #bbb;
}

html.dark-mode #react-root ._79dar {
    color: #bbb;
}

html.dark-mode #react-root ._bugdy span {
    color: #bbb;
}

html.dark-mode #react-root ._s53mj._13vpi {
    color: #ddd;
}

html.dark-mode #react-root ._bkw5z._kjym7 {
    color: #ddd;
}

/* Notifications (likes) */

html.dark-mode #react-root ._auspy {
        color: #bbb;
}

/* Tableviews (Following, Followers) */

html.dark-mode #react-root ._q44m8 {
    background-color: #202C3A;
    color: #ddd;
}

html.dark-mode #react-root ._cx1ua {
    background-color: #202C3A;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Search */

html.dark-mode #react-root ._oyz6j {
    background-color: #202C3A;
}

html.dark-mode #react-root ._55bi1 {
    background-color: #202C3A;
}
