html.dark-mode::-webkit-scrollbar-track { background-color: #192633; }
html.dark-mode::-webkit-scrollbar-thumb { background-color: #fff; }

html.dark-mode #react-root {
  color: #bcc0c4;
}

/**
 * Sidebar
 */
html.dark-mode #react-root ._onabe._kjy2s {
  background-color: #202c3a;
  border-right: 1px solid rgba(255, 255, 255, .08);
}

html.dark-mode #react-root ._bfc7q {
  background-color: #202c3a;
}

html.dark-mode #react-root ._r1svv {
  -webkit-filter: brightness(0) invert(1);
}

html.dark-mode .back-btn {
  border-top: 1px solid rgba(255, 255, 255, 0.0784314);
  border-bottom: 1px solid rgba(255, 255, 255, 0.0784314);
}

html.dark-mode .back-btn svg { fill: #fff; }
html.dark-mode .back-btn.inactive svg { fill: rgba(255, 255, 255, 0.2);  }


/**
 * Login
 */

/* logo */
html.dark-mode #react-root ._du7bh {
  -webkit-filter: brightness(0) invert(1);
}

html.dark-mode #react-root ._kp5f7._qy55y {
  color: #bcc0c4;
  background-color: #303b47;
  border-color: #303b47;
}


/**
 * General
 */

/* Main container */
html.dark-mode #react-root main {
  background-color: #192633;
}

/* Links */
html.dark-mode #react-root a,
html.dark-mode #react-root a:visited {
  color: #5b99ba;
}

/* Username */
html.dark-mode #react-root ._4zhc5 {
  color: #bcc0c4;
}

/* photo container bg */
html.dark-mode #react-root ._22yr2 {
  background-color: #192633;
  border-style: none;
}

/* photo border, split */
html.dark-mode #react-root ._pieko ._e0mru {
  border-bottom: 1px solid #23303c;
  border-top: 1px solid #23303c;
}

/* Profile thumbnail */
html.dark-mode #react-root ._5lote {
  background-color: #192633;
  border: 1px solid #23303c;
}

/* photo desc */
html.dark-mode #react-root ._lx2l2,
html.dark-mode #react-root ._lx2l2:visited,
html.dark-mode #react-root ._oajsw {
  color: inherit;
}

/* split */
html.dark-mode #react-root ._jveic {
  border-top: 1px solid #23303c;
}

/* time-stamp */
html.dark-mode #react-root ._ljyfo,
html.dark-mode #react-root ._ljyfo:visited {
  color: #788088;
}

/* location */
html.dark-mode #react-root ._rnlnu {
  color: #788088;
}

/* likes */
html.dark-mode #react-root ._3sst1 {
  color: #bcc0c4;
}

/*add profile photo popup*/
html.dark-mode #react-root ._82fo9._29u55 {
  background-color: #202c3a;
  border-bottom: 1px solid rgba(255, 255, 255, .08);
}

/*comment input text color*/
html.dark-mode #react-root ._7uiwk._qy55y {
  color: #fafafa;
}

/**
 * Search
 */

/* discover text */
html.dark-mode #react-root ._bgfey {
  color: #788088;
}

/* search field bg */
html.dark-mode #react-root ._oyz6j {
  background-color: #192633;
}

/* seach field */
html.dark-mode #react-root ._9x5sw,
html.dark-mode #react-root ._55bi1 {
  color: #bcc0c4;
  background-color: #303b47;
  border-color: #303b47;
}

/* input border */
html.dark-mode #react-root ._55bi1,
html.dark-mode #react-root ._48qwd {
  border-color: #303b47;
}

/* search drop-down */
html.dark-mode #react-root ._o1o4h {
  background-color: #192633;
  box-shadow: 0 0 5px rgba(0, 0, 0, .85);
  border-color: #23303c;
}
html.dark-mode #react-root ._o1o4h::after {
  border-color: transparent transparent #192633;
}
html.dark-mode #react-root ._pnw2j {
  background-color: #192633;
  box-shadow: 0 0 5px rgba(0, 0, 0, .85);
}
html.dark-mode #react-root ._k2vj6 {
  border-color: #23303c;
}
html.dark-mode #react-root ._k2vj6 img {
  border-color: #23303c;
}
html.dark-mode #react-root ._k2vj6 span {
  color: #bcc0c4;
}

/* border ul top */
html.dark-mode #react-root ._769lo {
  border-color: #23303c;
}

/**
 * Profile
 */

/* edit button */
html.dark-mode #react-root ._je2uz {
  color: #788088;
  border-color: #303b47;
}

/* load more */
html.dark-mode #react-root ._1ooyk,
html.dark-mode #react-root ._oidfu {
  color: #3897f0;
}

/* border after profile info */
html.dark-mode #react-root ._o2h6b,
html.dark-mode #react-root ._1ooyk {
  border-color: #23303c;
}

/* username */
html.dark-mode #react-root ._i572c {
  color: #bcc0c4;
}

/* name */
html.dark-mode #react-root ._79dar {
  color: #bcc0c4;
}

/* desc */
html.dark-mode #react-root ._bugdy span {
  color: #bcc0c4;
}

/* followers, following */
html.dark-mode #react-root ._s53mj._13vpi {
  color: #bcc0c4;
}
html.dark-mode #react-root ._bkw5z._kjym7 {
  color: #bcc0c4;
}

/* profile picture */
html.dark-mode #react-root ._8gpiy {
  border-color: #23303c;
}

/* Private profile */
html.dark-mode #react-root ._76rrx {
  background-color: #192633;
  border: none;
}
html.dark-mode #react-root ._76rrx h2,
html.dark-mode #react-root ._76rrx p {
  color: #bcc0c4;
}

/*Suggested*/
html.dark-mode #react-root ._3p78u._28ejm._go7te._pn9fv::before {
  background-color: #202c3a;
  border-left: 1px solid rgba(80,80,80,.2);
  border-top: 1px solid rgba(80,80,80,.2);
}
html.dark-mode #react-root ._3p78u._28ejm._go7te._pn9fv {
  background-color: #202c3a;
  border-top: 1px solid rgba(80,80,80,.2);
  border-bottom: 1px solid rgba(80,80,80,.2);
}

/*Profile card*/
html.dark-mode #react-root ._owacc._1po6t {
  background-color: #29384A;
  border: 1px solid rgba(0,0,0,.08);
}

/*http://i.imgur.com/1t7aeKW.png*/
html.dark-mode #react-root ._azlhu{
  background-color: #192633;
}

/**
 * Photo view
 */
/* time */
html.dark-mode #react-root ._379kp {
  color: #788088;
}


/*
 * Notifications (likes)
 */

/* text */
html.dark-mode #react-root ._auspy {
  color: #bcc0c4;
}

/* border */
html.dark-mode #react-root ._mkiio::after {
  border-color: #23303c;
}


/**
 * Tableviews (Following, Followers)
 */
html.dark-mode #react-root ._q44m8 {
  background-color: #192633;
  color: #bcc0c4;
}

html.dark-mode #react-root ._cx1ua {
  background-color: #192633;
  border-color: #23303c;
}


/**
 * Edit profile page
 */
html.dark-mode #react-root ._40h7m {
  background-color: #192633;
}

/* label */
html.dark-mode #react-root ._891mt {
  color: #bcc0c4;
}

/* private label */
html.dark-mode #react-root ._bgfey {
  color: #788088;
}

/* inputs */
html.dark-mode #react-root ._9pfjt,
html.dark-mode #react-root ._g6a4a,
html.dark-mode #react-root ._cmoxu ._qy55y {
  background-color: #303b47;
  border: none;
  color: #bcc0c4;
}

/* terms */
html.dark-mode #react-root ._lxlnj {
  color: #bcc0c4;
}


/**
 * Dialog
 */
html.dark-mode ._bt6iq,
html.dark-mode ._gwvmk,
html.dark-mode ._bt6iq,
html.dark-mode ._4y3e3 {
  color: #bcc0c4;
  border-color: #23303c;
  background-color: #192633;
}
