header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: ~"1 / 5";

  .avatar {
    grid-column: ~"1 / 2";

    img {
      border-radius: 128px;
    }
  }

  .main-infos {
    grid-column: ~"2 / 4";

    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.25em;
      line-height: 1.5em;
      font-weight: 200;
    }
  }
}

.biography-box {
  grid-column: ~"1 / 5";
  grid-row: 2;
}

.counter-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: ~"1 / 5";
  grid-row: 3;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  article img {
    max-width: 100%;
  }
}
