/* Dark theme */
.theme-dark {
  background-color: $slate;
  color: $white;

  & [class^="icon-"],
  & [class*=" icon-"],
  & nav li:hover,
  & nav li:after {
    background-color: $mustard-yellow;
  }

  & nav li:hover [class^="icon-"],
  & nav li:hover:after {
    background-color: $slate;
  }
}
