/* edit button */
html.dark-mode #react-root ._je2uz {
  color: #788088;
  border-color: #303b47;
}

/* load more */
html.dark-mode #react-root ._1ooyk,
html.dark-mode #react-root ._oidfu {
  color: #3897f0;
}

/* border after profile info */
html.dark-mode #react-root ._o2h6b,
html.dark-mode #react-root ._1ooyk {
  border-color: #23303c;
}

/* username */
html.dark-mode #react-root ._i572c {
  color: #bcc0c4;
}

/* name */
html.dark-mode #react-root ._79dar {
  color: #bcc0c4;
}

/* Color split for profile header */
html.dark-mode #react-root ._bugdy {
  border-color: #23303c;
}

/* desc */
html.dark-mode #react-root ._bugdy span {
  color: #bcc0c4;
}

/* followers, following */
html.dark-mode #react-root ._s53mj._13vpi {
  color: #bcc0c4;
}
html.dark-mode #react-root ._bkw5z._kjym7 {
  color: #bcc0c4;
}

/* profile picture */
html.dark-mode #react-root ._8gpiy {
  border-color: #23303c;
}

/* Private profile */
html.dark-mode #react-root ._76rrx {
  background-color: #192633;
  border: none;
}
html.dark-mode #react-root ._76rrx h2,
html.dark-mode #react-root ._76rrx p {
  color: #bcc0c4;
}

/*Suggested*/
html.dark-mode #react-root ._3p78u._28ejm._go7te._pn9fv::before {
  background-color: #202c3a;
  border-left: 1px solid rgba(80,80,80,.2);
  border-top: 1px solid rgba(80,80,80,.2);
}
html.dark-mode #react-root ._3p78u._28ejm._go7te._pn9fv {
  background-color: #202c3a;
  border-top: 1px solid rgba(80,80,80,.2);
  border-bottom: 1px solid rgba(80,80,80,.2);
}

/*Profile card*/
html.dark-mode #react-root ._owacc._1po6t {
  background-color: #29384A;
  border: 1px solid rgba(0,0,0,.08);
}

/*http://i.imgur.com/1t7aeKW.png*/
html.dark-mode #react-root ._azlhu{
  background-color: #192633;
}

/**
 * Photo view
 */
/* time */
html.dark-mode #react-root ._379kp {
  color: #788088;
}


/*
 * Notifications (likes)
 */

/* text */
html.dark-mode #react-root ._auspy {
  color: #bcc0c4;
}

/* border */
html.dark-mode #react-root ._mkiio::after {
  border-color: #23303c;
}


/**
 * Tableviews (Following, Followers)
 */
html.dark-mode #react-root ._q44m8 {
  background-color: #192633;
  color: #bcc0c4;
}

html.dark-mode #react-root ._cx1ua {
  background-color: #192633;
  border-color: #23303c;
}


/**
 * Edit profile page
 */
html.dark-mode #react-root ._40h7m {
  background-color: #192633;
}

/* label */
html.dark-mode #react-root ._891mt {
  color: #bcc0c4;
}

/* private label */
html.dark-mode #react-root ._bgfey {
  color: #788088;
}

/* inputs */
html.dark-mode #react-root ._9pfjt,
html.dark-mode #react-root ._g6a4a,
html.dark-mode #react-root ._cmoxu ._qy55y {
  background-color: #303b47;
  border: none;
  color: #bcc0c4;
}

/* terms */
html.dark-mode #react-root ._lxlnj {
  color: #bcc0c4;
}
