html.dark-mode #react-root {
  /* Panels */
  ._kp5f7._qy55y, ._f9sjj, ._f9sjj {
    color: $bright;
    background-color: $dark;
    border-color: $dark;
  }

  /* "Have an account" & "Don't have an account" text */
  ._c59vy {
    color: $bright;
  }

  /* Input fields */
  ._sjplo {
    border-color: $darkLight;
    background-color: $darkLight;
  }
}
