/* logo */

html.dark-mode #react-root ._du7bh {
  -webkit-filter: brightness(0) invert(1);
}

html.dark-mode #react-root ._kp5f7._qy55y {
  color: $bright;
  background-color: $dark;
  border-color: $dark;
}
