/* edit button */

html.dark-mode #react-root ._aj7mu._a89os {
  color: $gray;
  border-color: #303b47;
}

/* load more */

//html.dark-mode #react-root ._1ooyk,
html.dark-mode #react-root ._8imhp._glz1g {
  border-color: $blue;
  background: $dark;
  color: $blue;
}


/* border after profile info */

html.dark-mode #react-root ._o2h6b,
html.dark-mode #react-root ._1ooyk {
  border-color: $darkLight;
}


/* username */

html.dark-mode #react-root ._rf3jb {
  color: $bright;
}


/* name */

html.dark-mode #react-root ._kc4z2 {
  color: $bright;
}


/* Color split for profile header */

html.dark-mode #react-root ._bugdy {
  border-color: $darkLight;
}


/* desc */

html.dark-mode #react-root ._bugdy span {
  color: $bright;
}


/* posts, followers, following */

html.dark-mode #react-root {
  ._fd86t._he56w,
  ._fd86t._he56w,
  ._fd86t._he56w,
  ._qv64e._t78yp._4tgw8._njrw0 {
    color: $bright;
  }
}


/* follow/following/edit profile buttons */

html.dark-mode #react-root ._qv64e._t78yp._r9b8f._njrw0 {
  color: $bright;
}

/* Load More button */
html.dark-mode #react-root ._1cr2e._epyes {
  color: $bright;
}


/* profile picture */

html.dark-mode #react-root ._8gpiy {
  border-color: $dark;
}


/* Private profile */

html.dark-mode #react-root {
  ._q8pf2._r1mv3 {
    background-color: $darkLight;
    border: none;
  }

  ._q8pf2._r1mv3 {
    h2, p {
      color: $bright;
    }
  }
}


/*Suggested*/

html.dark-mode #react-root {
  ._gwyj6._66ugs._7djd0._dah1q._hqhuc::before,
  ._gwyj6._66ugs._7djd0._dah1q._hqhuc {
    background-color: $dark;
    border-left: 1px solid rgba(80, 80, 80, .2);
    border-top: 1px solid rgba(80, 80, 80, .2);
  }

  ._gwyj6._66ugs._7djd0._dah1q._hqhuc div {
    background-color: $dark;
    border-color: rgba(80, 80, 80, .2);
  }
}


/*Profile card*/

html.dark-mode #react-root ._owacc._1po6t {
  background-color: $darkLight;
  border: 1px solid rgba(0, 0, 0, .08);
}


/*http://i.imgur.com/1t7aeKW.png*/

html.dark-mode #react-root ._azlhu {
  background-color: $darkLight;
}


/**
 * Photo view
 */


/* time */

html.dark-mode #react-root ._379kp {
  color: $bright;
}


/*
 * Notifications (likes)
 */


/* text */

html.dark-mode #react-root ._b96u5 {
  color: $bright;
}


/* border */

html.dark-mode #react-root ._75ljm._3qhgf::after {
  border-color: $dark;
}


/**
 * Tableviews (Following, Followers)
 */

html.dark-mode #react-root ._lfwfo {
  background-color: $dark;
  color: $bright;
}

html.dark-mode #react-root ._q2d5a._b9n99 {
  background-color: $dark;
  border-color: $darkLight;
}


/**
 * Edit profile page
 */

/* Settings */

html.dark-mode #react-root {
  ._rqmce, ._rqmce div {
    background-color: $dark;
    border-color: $darkLight;
  }

  ._rqmce span {
    color: $white;
  }
}

/* Edit Profile */

html.dark-mode #react-root {
  ._75z9k {
    background-color: $dark;
  }

  ._75z9k label {
    color: white;
  }
}

/* Report Problem */

html.dark-mode {
  ._rx4nb {
    background-color: $dark;
  }

  ._rx4nb {
    h1, p, ._qv64e._t78yp._4tgw8._njrw0 {
      color: $bright;
    }
  }
}

/* Locations */

html.dark-mode #react-root ._775gj {
  ._cem40 {
    background-color: $dark;
  }

  ._brnf8 {
    border-color: $gray;
    background-color: $darkLight;
  }
}
