/* discover text */
html.dark-mode #react-root ._bgfey {
  color: #788088;
}

/* search field bg */
html.dark-mode #react-root ._oyz6j {
  background-color: #192633;
}

/* username */
html.dark-mode #react-root ._2uju6 {
}

/* seach field */
html.dark-mode #react-root ._9x5sw,
html.dark-mode #react-root ._55bi1 {
  color: #bcc0c4;
  background-color: #303b47;
  border-color: #303b47;
}

/* input border */
html.dark-mode #react-root ._55bi1,
html.dark-mode #react-root ._48qwd {
  border-color: #303b47;
}

/* search drop-down */
html.dark-mode #react-root ._o1o4h {
  background-color: #192633;
  box-shadow: 0 0 5px rgba(0, 0, 0, .85);
  border-color: #23303c;
}
html.dark-mode #react-root ._o1o4h::after {
  border-color: transparent transparent #192633;
}
html.dark-mode #react-root ._pnw2j {
  background-color: #192633;
  box-shadow: 0 0 5px rgba(0, 0, 0, .85);
}
html.dark-mode #react-root ._k2vj6 {
  border-color: #23303c;
}
html.dark-mode #react-root ._k2vj6 img {
  border-color: #23303c;
}
html.dark-mode #react-root ._k2vj6 span {
  color: #bcc0c4;
}

/* border ul top */
html.dark-mode #react-root ._769lo {
  border-color: #23303c;
}
