/* seach field */

html.dark-mode #react-root ._jcvs2._kjnbr {
  color: $bright;
  background-color: #303b47;
  border-color: #303b47;
}

/* search drop-down */

html.dark-mode #react-root ._etpgz {
  background-color: $dark;
  box-shadow: 0 0 5px rgba(0, 0, 0, .85);
  border-color: $darkLight;
}

html.dark-mode #react-root ._etpgz {
  ._gimca {
    border-color: $darkLight;
  }

  ._5tsk5 {
    background: $darkLight;
  }

  span {
    color: $bright;
  }
}

html.dark-mode #react-root ._o1o4h::after {
  border-color: transparent transparent $dark;
}

html.dark-mode #react-root ._pnw2j {
  background-color: $dark;
  box-shadow: 0 0 5px rgba(0, 0, 0, .85);
}

html.dark-mode #react-root ._k2vj6 {
  border-color: $darkLight;
}

html.dark-mode #react-root ._k2vj6 img {
  border-color: $darkLight;
}

html.dark-mode #react-root ._k2vj6 span {
  color: $gray;
}

/* item container */
html.dark-mode #react-root ._lq68t._bk5sx {
  background-color: $dark;
}
