html.dark-mode #react-root ._onabe._kjy2s {
  background-color: #202c3a;
  border-right: 1px solid rgba(255, 255, 255, .08);
}

html.dark-mode #react-root ._bfc7q {
  background-color: #202c3a;
}

html.dark-mode #react-root ._r1svv {
  -webkit-filter: brightness(0) invert(1);
}

html.dark-mode .back-btn {
  border-top: 1px solid rgba(255, 255, 255, 0.0784314);
  border-bottom: 1px solid rgba(255, 255, 255, 0.0784314);
}

html.dark-mode .back-btn svg { fill: #fff; }
html.dark-mode .back-btn.inactive svg { fill: rgba(255, 255, 255, 0.2);  }
