.dialog-404 {
  /* Remove header in 404 */
  .top-bar {
    display: none;
  }
  /* Recenter error container */
  .error-container {
    width: calc(100% - 80px);
    width: 72%;
    display: block;
    float: right;
  }
}
