/* Scrollbar */
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #cbc9c9;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #9e9e9e;
}

/* Remove focus glow */
* {
  outline: none;
}

html {
  cursor: default!important;
  /* Force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
  &.os-linux,
  &.os-win32 {
    overflow-y: initial!important;
  }
}

/* Hide facebook cookie notice */
#header-notices {
  display: none;
}

/* Hide "Add Location" Button in "Add Photo" (unusable) */
#react-root {
  div > div > a,
  section > nav > div > div > header > div > h1,
  section > footer,
  .root > footer {
    display: none;
  }
}
