/* Scrollbar */

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: #cbc9c9;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #b0b0b0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #9e9e9e;
}

/* Remove focus glow */

* {
  outline: none;
}

html {
  cursor: default!important;
  /* Force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
  &.os-linux,
  &.os-win32 {
    overflow-y: initial!important;
  }
}


/* Hide 'Open in app' popup and button */

._28zbs,
._nqfwp,
._nl1vc,
._28zbs {
  display: none;
}


/* Hide footer */

section > footer,
.root > footer {
  display: none;
}


/* Hide facebook cookie notice */

#header-notices {
  display: none;
}

/* Force the height of Followers and bgcolor*/
#react-root ._q44m8 {
  background-color: $light;
  height: 45px; /*The same as the back btn*/
  border-color: $light;
}

._h2d1o {
  margin-bottom: 0;
}

/* Hide "Add Location" Button in "Add Photo" (unusable) */

#react-root ._9r8i9 {
  display: none;
}
