/* Scrollbar - currently hidden */

::-webkit-scrollbar {
  width: 2px;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}


/* Remove focus glow */

* {
  outline: none;
}

html {
  cursor: default!important;
  /* Force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
  &.os-linux,
  &.os-win32 {
    overflow-y: initial!important;
  }
}


/* Hide 'Open in app' popup and button */

._28zbs,
._nqfwp,
._nl1vc,
._28zbs {
  display: none;
}


/* Hide footer */

section > footer,
.root > footer {
  display: none;
}


/* Hide facebook cookie notice */

#header-notices {
  display: none;
}

/* Force the height of Followers and bgcolor*/
#react-root ._q44m8{
  background-color: $light;
  height: 45px; /*The same as the back btn*/
  border-color: $light;
}

