/* Hide elements */

#react-root {
  &._okmo7,
  &._m8ogu,
  &._9qbcz,
  &._r48rb,
  &._rpioj,
  &._djahe,
  &._j4ox0,
  &._3bqd5 div:last-of-type,
  &._3bqd5 ._nvyyp:last-of-type,
  #header-notices {
    display: none;
  }
}

._nl1vc._445wt._b3en3._7shjj {
  display: none;
}

.not-logged-in #react-root section[data-reactroot] {
  &>div:last-of-type,
  &>nav>div>div>div:last-of-type,
  &>main>article>div>div:last-of-type {
    display: none;
  }
}


/* Center login */

#react-root ._p8ymb {
  max-width: 350px;
  justify-content: center;
  margin: 0!important;
  height: 100vh;
}


/* Login */

._du7bh {
  margin: 0 auto 10px;
}


/* Remove margin from login box */

#react-root ._60k3m {
  margin-top: 0;
}


/* Facebook Button */

#react-root ._56wku {
  margin: 0;
}


/* Login Button */

#react-root ._dyp7q {
  margin: 0;
  visibility: hidden;
  /* Hide text node */
}


/* Login go back */
#react-root ._fcn8k {
  visibility: visible;
}

#react-root ._fcn8k.goback {
  margin: 0 auto;
  display: block;
  color: #dbdbdb;
  width: 100px;
}


/* Remove border */

#react-root ._nvyyp {
  border: none;
  padding: 0;
  margin: -10px 0 0 0;
}

#react-root ._22yr2 {
  border: 0;
}

#react-root ._djxz1 ._e0mru {
  border: 0;
}

#react-root ._e0mru {
  box-shadow: none;
}

/**
 * Fix Scrolling/Positioning
 */

/* Show scrollbar */

#react-root ._29u45 {
  overflow: visible;
}

/* Add bottom margin & remove border */

#react-root main[role="main"] {
  margin-bottom: 44px;
  border-width: 0px;
}
