/* Hide empty container */
._s1xpw._44kmz {
  display: none;
}


/**
 * Search drop down
 */
#react-root ._ehe50,
#react-root ._cbomp {
  left: 80px;
}

/**
 * Hide "Open in app" button
 */
._jdrlj, ._t0se8 {
  display: none;
}
