/* Make room for sidebar */

/*
.logged-in #react-root {
  ._8f735._e4u5z {
    margin-left: 80px;
  }
  ._a4zs2,  ._a2t9f {
    margin-left: 80px;
    border-left: 1px solid rgba(0, 0, 0, .08);
    box-sizing: border-box;
  }
  ._a4zs2 {
    margin-left: 79px!important;
  }
}
Outdated
*/

/* Add sidebar */
#react-root > section > nav {
  background-color: $light;
  height: 100%;
  display: block;
}

/* Fix main container width */
#react-root > section > main {
  /*max-width: calc(100vw - 80px);
  position: relative;
  left: 40px;
  top: 22px;
  margin-bottom: 88px;*/
}


/* Make sidebar dragable */

#react-root,
#react-root > section,
#react-root > section > nav {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

#react-root > section > main {
  -webkit-app-region: no-drag;
}


/* Remove sidebar border, and position */

#react-root ._fjpuc > div > div {
  position: absolute;
  border: none;
}


/* Icons list */

#react-root ._n7q2c {
  -webkit-app-region: drag;
  margin-top: 130px;
  flex-direction: column;
}


/* Remove margin from win and linux */

html.os-linux #react-root ._n7q2c,
html.os-win32 #react-root ._n7q2c {
  margin-top: 50px;
}

html.os-linux #react-root ._onabe {
  top: 38px;
}


/* Icon Item */

#react-root ._r1svv {
  width: 100%;
  height: 40px;
  margin-top: 20px;
}


/* Hide upload photo tooltip */

#react-root ._pd08p._k2p2r {
  display: none;
}


/* Back Button */

html.os-macos .back-btn{
  border-top: 1px solid $back-btn-border;
}

.back-btn {
  position: fixed;
  z-index: 1;
  width: 80px;
  left: 0px;
  top: 44px;
  height: 45px;
  border-bottom: 1px solid $back-btn-border;
  background-color: $light;
  a {
    position: relative;
    top: 14px;
    width: 24px;
    height: 18px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  &.inactive {
    a {
      cursor: default;
    }
    svg {
      fill: $back-btn-inactive-fill;
    }
  }
  svg {
    fill: $back-btn-fill;
  }
}

html.os-linux .back-btn,
html.os-win32 .back-btn {
  top: 0;
}
